{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $hostname := promptStringOnce . "hostname" "Hostname" -}}
{{- $brewPath := "/opt/homebrew" -}}
{{- $dateCmd := "gdate" -}}
{{- $computerName := output "scutil" "--get" "ComputerName" | trim }}
{{- $cpuCores := 1 }}
{{- $cpuThreads := 1 }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $cpuCores = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi }}
{{-   $cpuThreads = (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi }}
{{-   if eq .chezmoi.arch "amd64" }}
{{-     $brewPath = "/usr/local" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
{{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi }}
{{-   $dateCmd := "date" -}}
{{- end }}
{{- if not (eq $hostname $computerName) }}
# Brand new computer ({{- $hostname | lower | quote -}}) vs ({{- $computerName | lower | quote -}})
{{- end }}
# MacOS build version: {{- output "sw_vers" "--buildVersion" -}}
[data.chezmoi]
  brewPath = {{ $brewPath | quote }}
  dateCmd = {{ $dateCmd | quote }}
  email = {{ $email | lower | quote }}
  hostname = {{ $hostname | lower | quote }}
  name = {{ $name | quote }}

[data.cpu]
  cores = {{ $cpuCores }}
  threads = {{ $cpuThreads }}

[diff]
    pager = "delta"

[git]
    autoCommit = true
    autoPush = true

[onepassword]
    mode = "account"

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
