{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh
# ~/.macos — https://mths.be/macos
# https://macos-defaults.com/

# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

# Ask for the administrator password upfront
sudo -v

# Keep-alive: update existing `sudo` time stamp until `.macos` has finished
while true; do
  sudo -n true
  sleep 60
  kill -0 "$$" || exit
done 2>/dev/null &

###############################################################################
# General UI/UX                                                               #
###############################################################################
{{- $computerName := output "scutil" "--get" "ComputerName" | trim }}
{{- if not (eq .chezmoi.hostname $computerName) }}
# Set computer name (as done via System Preferences → Sharing)
sudo scutil --set ComputerName {{ .chezmoi.hostname }}
sudo scutil --set HostName {{ .chezmoi.hostname }}
sudo scutil --set LocalHostName {{ .chezmoi.hostname }} 
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ .chezmoi.hostname }}
sudo systemsetup -setcomputername {{ .chezmoi.hostname }} >/dev/null
{{ end -}}
 
# Disable the sound effects on boot
osascript -e "set volume with output muted"

# Disable Creation of Metadata Files on Network Volumes
defaults write com.apple.desktopservices "DSDontWriteNetworkStores" -bool "true"
 
# Set the timezone; see `sudo systemsetup -listtimezones` for other values
sudo systemsetup -settimezone "Asia/Singapore" >/dev/null

###############################################################################
# Screen                                                                      #
###############################################################################
# Save screenshots to the Pictures directory
defaults write com.apple.screencapture "location" -string "~/Pictures"
killall SystemUIServer

###############################################################################
# Clock                                                                       #
###############################################################################
defaults write com.apple.menuextra.clock "FlashDateSeparators" -bool "true"
defaults write com.apple.menuextra.clock "IsAnalog" -bool "false"
defaults write com.apple.menuextra.clock "Show24Hour" -bool "true"
defaults write com.apple.menuextra.clock "ShowDate" -bool "true"
defaults write com.apple.menuextra.clock "ShowDayOfWeek" -bool "true"
defaults write com.apple.menuextra.clock "ShowSeconds" -bool "true"
killall SystemUIServer

###############################################################################
# Trackpad, mouse, keyboard, Bluetooth accessories, and input                 #
###############################################################################
# Set language and text formats
defaults write NSGlobalDomain "AppleInterfaceStyle" -string "Dark"
defaults write NSGlobalDomain "AppleLanguages" -array "en-SG" "zh-Hans-SG"
defaults write NSGlobalDomain "AppleLocale" -string "en_SG"

###############################################################################
# Finder                                                                      #
###############################################################################
# Finder: show all filename extensions
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "true"
# Keep folders on top when sorting by name
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
# Set the default view style for folders without custom setting
defaults write com.apple.finder "FXPreferredViewStyle" -string "clmv"
# Finder: allow quitting via ⌘ + Q; doing so will also hide desktop icons
defaults write com.apple.finder "QuitMenuItem" -bool "true"
# Finder: show status bar
defaults write com.apple.finder "ShowStatusBar" -bool "true"
# Show the ~/Library folder
chflags nohidden ~/Library && xattr -d com.apple.FinderInfo ~/Library
# Show the /Volumes folder
sudo chflags nohidden /Volumes
killall Finder

###############################################################################
# Dock, Dashboard, and hot corners                                            #
###############################################################################
# Automatically hide and show the Dock
defaults write com.apple.dock "autohide" -bool "true"
# Put the dock on the right of the screen
defaults write com.apple.dock "orientation" -string "right"
# Set the icon size of Dock items to 16 pixels
defaults write com.apple.dock "tilesize" -int "16"
# Hot corners
# Possible values:
#  0: no-op
#  2: Mission Control
#  3: Show application windows
#  4: Desktop
#  5: Start screen saver
#  6: Disable screen saver
#  7: Dashboard
# 10: Put display to sleep
# 11: Launchpad
# 12: Notification Center
# 13: Lock Screen
# Top left screen corner → Mission Control
defaults write com.apple.dock wvous-tl-corner -int 2
defaults write com.apple.dock wvous-tl-modifier -int 0
# Top right screen corner → Desktop
defaults write com.apple.dock wvous-tr-corner -int 2
defaults write com.apple.dock wvous-tr-modifier -int 0
# Bottom left screen corner → Launchpad
defaults write com.apple.dock wvous-bl-corner -int 11
defaults write com.apple.dock wvous-bl-modifier -int 0
# Bottom right screen corner → Start screen saver
defaults write com.apple.dock wvous-br-corner -int 13
defaults write com.apple.dock wvous-br-modifier -int 0
killall Dock

###############################################################################
# Spotlight                                                                   #
###############################################################################
# Load new settings before rebuilding the index
killall mds >/dev/null 2>&1
# Make sure indexing is enabled for the main volume
sudo mdutil -i on / >/dev/null
# Rebuild the index from scratch
sudo mdutil -E / >/dev/null

###############################################################################
# Time Machine                                                                #
###############################################################################
# Disable local Time Machine backups
sudo tmutil enable
{{ end -}}
