{{- if eq .chezmoi.os "Darwin" }}
#!/usr/bin/env zsh

[ ! -f /Library/LaunchDaemons/org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon.plist ] && \
  sudo cp ../org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon.plist /Library/LaunchDaemons/org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon.plist
[ ! -f /Library/LaunchDaemons/local.kmonad.plist ] && \
  sudo cp ../local.kmonad.plist /Library/LaunchDaemons/local.kmonad.plist

sudo launchctl enable system/org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon
sudo launchctl enable system/local.kmonad

sudo launchctl bootout system /Library/LaunchDaemons/local.kmonad.plist
sudo launchctl bootout system /Library/LaunchDaemons/org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon.plist
sleep 5
sudo launchctl bootstrap system /Library/LaunchDaemons/org.pqrs.service.daemon.Karabiner-VirtualHIDDevice-Daemon.plist
sudo launchctl bootstrap system /Library/LaunchDaemons/local.kmonad.plist
{{- end }}
