{{- if and ( eq .chezmoi.os "darwin" ) ( eq .chezmoi.username "st_lim" ) -}}
#!/bin/zsh

brew bundle --file=/dev/stdin <<EOF
{{ range .brew.dev.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .brew.dev.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .brew.dev.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
