{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

if [ ! -d "{{- .chezmoi.homeDir -}}/.oh-my-zsh/custom/plugins/zsh-claudecode-completion" ]; then
  git clone \
    https://github.com/wbingli/zsh-claudecode-completion.git \
    {{ .chezmoi.homeDir -}}/.oh-my-zsh/custom/plugins/zsh-claudecode-completion
else
  pushd {{ .chezmoi.homeDir -}}/.oh-my-zsh/custom/plugins/zsh-claudecode-completion
    echo "zsh-claudecode-completion"
    git pull
  popd
fi
{{ end -}}

