{{- if and (eq .chezmoi.username "st_lim") (contains "protoslabs" .chezmoi.email) }}
{{- (index (onepassword "sr3veeq3lawaqad4rdk2q7yz5u" "zhb2htpfllyby3cabuodsnhfom" "MCLAFZWCRFBZ3BTFVBOOQ4NKDM").fields 0).value -}}
{{ end -}}
